html {
  font-size: 10px;
}

body {
  background-image:
    url('assets/images/b9r5sEL.jpg');
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.key {
  border: .4rem solid black;
  text-align: center;
  padding: 1rem .5rem;
  transition: all 0.07s ease;
  color: white;
  width: 10rem;
  margin: 1rem;
  border-radius: .5rem;
  font-size: 1.5rem;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 0 0 .5rem black;
  }

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 10px #ffc600;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #ffc600;
}